Repository vuejs/docs, pull requests merged in 2020-11, with the labels that each got.

#663 Debugging in VS Code Cookbook Recipe
  src/.vuepress/config.js
  src/.vuepress/public/images/breakpoint_hit.png
  src/.vuepress/public/images/breakpoint_set.png
  src/.vuepress/public/images/config_add.png
  src/.vuepress/public/images/devtools-timetravel.gif
  src/cookbook/debugging-in-vscode.md
Labels: content-migration, cookbook, review-alert-box

#670 Document removal of $children API on Migration guide
  src/guide/migration/children.md
  src/guide/migration/introduction.md
Labels: vue-3-migration-guide

#699 Move the migration and contribution guidelines in separate sections
  src/.vuepress/config.js
Labels: style-improvement
